.container {
  width: 1250px;
}

.header-row {
    margin: 0 auto;
    width: 280px;
    padding-top: 15px;
}

.verse-text {
    margin: 0 auto;
    width: 700px;
    color: #FFF1c0;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

audio {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.red-background {
    background-color: #e44229;
}
