.red-background {
    background-color: #e44229;
}

.verse-text {
    margin: 2em 2em;
    font-family: serif;
    color: #FFF1c0;
}

.header-row {
    padding-top: 1.5em;
}

.btn-group, .btn {
    width: 100%;
}

audio {
    display: block;
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 400px) {
    .header-row {
        max-width: 280px;
        margin: 0 auto;
    }
    .btn-group, .btn {
        width: auto;
        margin: 0 auto;
    }
    .verse-text {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }
    audio {
        max-width: 280px;
    }
}

}